
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

:root{
    /* ========= Colors ========= */
    --background-color: #7789a3;
    --text-color: rgb(0, 0, 0);
    --time-trans: 0.3s;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: auto;
}

body{
    background: var(--background-color);
    color: var(--text-color); 
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.header{
    background-color: #243246;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7.5vh;
    padding: 1vh 1vw;

    /*NOT SELECTABLE*/
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/* ------------- Navbar logo ------------- */

.header .logo img{
    height: 5vh;
    width: auto;
}

.header .logo{
    cursor: pointer;
    transition: all var(--time-trans);
    margin-right: auto;
    padding: 2vh 1vw;
    border-radius: 5vh;
}

.header .logo:hover{
    background-color: #7789a3;
    transform: scale(1.1);    
}

/* ------------- Navbar list ------------- */
.header .navbar{
    list-style: none;
    order: 2;    
}

.header .navbar li{
    font-size: 1.5vh;
    display: inline-block;
    padding: 5vh 2vw;
    border-radius: 10vh;
    transition: all var(--time-trans);
    color: antiquewhite;
}

.header .navbar li:hover{
    background-color: #7789a3;
    font-size: 1.6vh;
    transform: scale(1.1);  
    color: #3f322b;
    font-weight: bolder;
    cursor: pointer;
    margin: 0 .5vw;
}

/* ------------- Navbar link ------------- */
.header .navbar a{
    font-size: 10px;
    text-decoration: none;
    margin: 0 1vw;
}

/* ------------- Navbar Button (Contact) ------------- */
.header .btn{
    order: 3;
}

.header .btn button{
    margin-left: auto;
    font-size: 2vh;
    font-weight: bolder;
    color: #2f343b;
    background: #bacce4;
    border: none;
    cursor: pointer;
    border-radius: 1vh;
    padding: 1vh 1vw;
    transition: all var(--time-trans);
    margin-left: 1vw;
}

.header .btn button:hover{
    transform: scale(1.1);
    color: #cfc1b9;
    background: #18212e;
}
