<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="/css/main.css">

<!-- JQuery -->
<script src="/js/jquery-3.6.3.js"></script>

<body>
    <header class="header">
        <div class="logo">
            <img src="../img/icons/home.png" alt="home">
        </div>
        <nav>
            <ul class="navbar" id="bar">
                <li onclick="loadElement('home')">Home</li>
                <li onclick="loadElement('about')">About</li>
                <li onclick="loadElement('formation')">Formation</li>
                <li onclick="loadElement('projects')">Projects</li>
                <li onclick="loadElement('skills')">Skills</li>
            </ul>
        </nav>
        <a href="/" class="btn"><button>Contact</button></a>
    </header>
</body>
    
</html>