<!DOCTYPE html>

<html>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <head>
        <header class="header">
            <div class="logo">
                <img src="../img/icons/home.png" alt="home">
            </div>
            <nav>
                <ul class="navbar" id="bar">
                    <a href="/"><li>Home</li></a>
                    <a href="/"><li>About</li></a>
                    <a href="/"><li>Formation</li></a>
                    <a href="/"><li>Projects</li></a>
                    <a href="/"><li>Skills</li></a>
                </ul>
            </nav>
            <a href="/" class="btn"><button>Contact</button></a>
        </header>
    </head>
    
</html>